<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/img/paws.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="./style/style.css">
    <link rel="stylesheet" href="./style/juguetes.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet">
    <title>PetShop | Carrito</title>
</head>
<body>
    <div id="app">
    <main>
        <div v-if="arrayCart != 0 " id="contenedorJuguetes"
                class="col-8 d-flex flex-wrap text-center justify-content-center align-self-center gap-3">
                <div class="card d-flex flex-column justify-content-between object-fit-cover " style="width: 18rem;"
                    v-for="juguete of arrayCart">
                    <img :src="juguete.imagen" class="card-img-top object-fit-cover " :alt="juguete.nombre">
                    <div class="card-body flex-column justify-content-between">
                        <h5 class="card-title">{{juguete.nombre}}</h5>
                        <h5 class="card-text">{{juguete.producto}}</h5>
                        <p class="card-text">${{juguete.precio}}</p>
                        <a v-bind:href="'./details.html?_id=' + juguete._id" class="myButton mt-3">Ver mas</a>
                    </div>
                </div>
            </div>
    </main>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/juguetes.js"></script>
</body>
</html>