<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/img/paws.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="./style/style.css">
    <link rel="stylesheet" href="./style/juguetes.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet">
    <title>PetShop | Carrito</title>
</head>
<body>
    <div id="app">
    <header class="back">
            <nav class="navbar navbar-expand-lg d-flex justify-content-center col-12">
                <div class="container-fluid justify-content-between">
    
                    <img src="../img/img/logo.png" alt="logo" class="mw-25 mh-25">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="d-flex flex-column">
                        <h1>El club de las mascotas</h1>
                    </div>
                    <div class="collapse navbar-collapse flex-grow-0 justify-content-center align-items-center "
                        id="navbarSupportedContent">
                        <ul class="navbar-nav mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active boton4 rounded" aria-current="page" href="../../index.html">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active boton4 rounded" aria-current="page"
                                    href="./farmacia.html">Farmacia</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active boton4 rounded" aria-current="page"
                                    href="./juguetes.html">Juguetes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active boton4 rounded" aria-current="page"
                                    href="./contacto.html">Contacto</a>
                            </li>
                        </ul>
                        <img src="../img/img/1170627.png" class="navbar-toggler-icon mw-25 mh-25" type="button">
    
                    </div>
                </div>
            </nav>
           <!--  <img src="../assets/img/border-removebg-preview.png" alt="" id="borde"> -->
    </header>
    <main>
        <div v-if="arrayCart != 0" id="contenedorJuguetes"
                class="col-8 d-flex flex-wrap text-center justify-content-center align-self-center gap-3">
                <div class="card d-flex flex-column justify-content-between object-fit-cover " style="width: 18rem;"
                    v-for="juguete of arrayCart" :key="juguete._id">
                    <img :src="juguete.imagen" class="card-img-top object-fit-cover " :alt="juguete.nombre">
                    <div class="card-body flex-column justify-content-between">
                        <h5 class="card-title">{{juguete.nombre}}</h5>
                        <h5 class="card-text">{{juguete.producto}}</h5>
                        <p class="card-text">${{juguete.precio}}</p>
                        <a href="#" class="myButton mt-3 me-3">Comprar</a>
                        <button href="#" class="myButton mt-3" data-accion="Descartar" :data-id="juguete._id" v-on:click="descartarCarrito">Descartar</button>
                        
                    </div>
                </div>
            </div>
    </main>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/juguetes.js"></script>
</body>
</html>