<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Club de las Mascotas | Farmacia</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../img/img/paws.png" type="image/x-icon">
    <link rel="stylesheet" href="./style/style.css">
    <link rel="stylesheet" href="./style/farmacia.css">
    <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Quicksand:wght@400;600&display=swap"
        rel="stylesheet">

</head>
<body>
    <header class="back">
        <nav class="navbar navbar-expand-lg d-flex justify-content-center col-12">
            <div class="container-fluid justify-content-between">

                <img src="../img/img/logo.png" alt="logo" class="mw-25 mh-25">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <h1>El Club de las Mascotas</h1>
                <div class="collapse navbar-collapse flex-grow-0 justify-content-center align-items-center "
                    id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active boton4 rounded" aria-current="page" href="../../index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active boton4 rounded" aria-current="page"
                                href="#">Farmacia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active boton4 rounded" aria-current="page"
                                href="./juguetes.html">Juguetes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active boton4 rounded" aria-current="page"
                                href="./contacto.html">Contacto</a>
                        </li>
                    </ul>
                    <a href="./carrito.html"><img src="../img/img/1170627.png" class="navbar-toggler-icon mw-25 mh-25" type="button"></a>
                </div>

            </div>
        </nav>
    </header>
    <main id="app" class="d-flex flex-column justify-content-center">
        {{filtroNombre}}
        <nav class="navbar navbar-light d-flex align-items-center justify-content-center mb-3">
            <form class="d-flex ">
              <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search"  v-model="nameSearch">
              <button class="btn btn-outline-success my-2 my-sm-0 ms-3 " type="button">🔎</button>
            </form>
        </nav >
        <div id="contenedorJuguetes" class="col-8 d-flex flex-wrap text-center justify-content-center align-self-center gap-3" >
            <div class="card d-flex flex-column justify-content-between" style="width: 18rem;" v-if="medicamentosFiltrados !=0" v-for="medicamento of medicamentosFiltrados" id="card">
                <img v-bind:src="medicamento.imagen" class="card-img-top object-fit-cover " v-bind:alt="medicamento.nombre">
                <div class="card-body flex-column justify-content-around align-self-center">
                    <div class="card-text">
                        <h5 class="card-title">{{medicamento.nombre}}</h5>
                        <h5 class="card-text">{{medicamento.producto}}</h5> 
                        <p class="card-text">${{medicamento.precio}}</p>
                        <!-- <div class="stock">
                            <p v-if="medicamento.disponibles < 5 && medicamento.disponibles > 0 " class="text-danger"> ultimas unidades!</p>
                        </div> -->
                    </div>
                    <div class="ahref">
                        <a v-bind:href="'./details.html?_id='+medicamento._id"class="myButton mt-3"class="myButton mt-3">Ver mas</a>     
                    </div>
                </div>
                <div >
                    <p class="stock" v-if="medicamento.disponibles < 5 && medicamento.disponibles > 0 " > ultimas unidades!</p>
                </div>
            </div>
            <section v-else="">
                <h4 class="text-center">No se encontraron coincidencias en su busqueda.</h4>
            </section>
        </div>
    </main>
    <footer class="d-flex justify-content-between mt-3 ">
        <div class="redes d-flex justify-content-evenly gap-4 ms-2 mt-3">
            <img src="../img/img/ig logo.png" alt="ig logo">
            <img src="../img/img/fb logo.png" alt="fb logo">
            <img src="../img/img/wp logo.png" alt="wp logo">
        </div>
        <article class="d-flex flex-column align-items-center justify-content-center mt-3">
            <h6>Micaela Gonzalez Pili, Lucas Correa, Franco Palacios, Eduardo Oriolani, Jhosselin Vilchez</h6>
            <h6 class="align-self-center">Cohort 47</h6>
        </article>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/farmacia.js"> </script>
</body>
</html>