<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Club de las Mascotas | Juguetes</title>
    <link rel="shortcut icon" href="../img/img/paws.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="./style/style.css">
    <link rel="stylesheet" href="./style/juguetes.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Quicksand:wght@400;600&display=swap"
        rel="stylesheet">
</head>

<body>
    <header class="back">
        <nav class="navbar navbar-expand-lg d-flex justify-content-center col-12">
            <div class="container-fluid justify-content-between">

                <img src="../img/img/logo.png" alt="logo" class="mw-25 mh-25">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <h1>El Club de las Mascotas</h1>
                <div class="collapse navbar-collapse flex-grow-0 justify-content-center align-items-center "
                    id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active boton4 rounded" aria-current="page" href="../../index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active boton4 rounded" aria-current="page"
                                href="./farmacia.html">Farmacia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active boton4 rounded" aria-current="page" href="#">Juguetes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active boton4 rounded" aria-current="page"
                                href="./contacto.html">Contacto</a>
                        </li>
                    </ul>
                    <a href="./carrito.html"><img src="../img/img/1170627.png" class="navbar-toggler-icon mw-25 mh-25" type="button"></a>
                </div>
            </div>

        </nav>
        <!-- <img src="../img/img/border-removebg-preview.png" alt="" id="borde"> -->
    </header>
    
    <main id="app" class="d-flex flex-column justify-content-center">
        <!-- <h2 class="text-center">Juguetes</h2> -->
      {{filtroTexto}}
        <nav class="navbar navbar-light d-flex align-items-center justify-content-center mb-3">
            <form class="d-flex ">
              <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search"  v-model="textoIngresado">
              <button class="btn btn-outline-success my-2 my-sm-0 ms-3 " type="button">🔎</button>
            </form>
        </nav>
        
        <div v-if="juguetesFiltrados !=0 " id="contenedorJuguetes"
            class="col-8 d-flex flex-wrap text-center justify-content-center align-self-center gap-3">
            <div class="card d-flex flex-column justify-content-between object-fit-cover align-items-strech "
                style="width: 18rem;" v-for="juguete of juguetesFiltrados" id="card">
                <img :src="juguete.imagen" class="card-img-top object-fit-cover " :alt="juguete.nombre">
                <div class="card-body flex-column justify-content-between">
                    <div class="cardtoy">
                      <h5 class="card-title">{{juguete.producto}}</h5>
                      <p class="card-text">${{juguete.precio}}</p>
                     <!--  <p class="card-text">{{juguete.disponibles}} unidad/es</p> -->
                      <p class="stock" v-if="juguete.disponibles < 5 " > ultimas unidades!</p>                         
                    </div>               
                
                <div class="d-flex justify-content-evenly">
                  <a v-bind:href="'./details.html?_id='+juguete._id"class="myButton mt-3 ">Ver mas</a>   
               <svg xmlns="http://www.w3.org/2000/svg" width="30" height="60" fill="currentColor" class="bi bi-cart-plus-fill" viewBox="0 0 16 16" >
                <path type="button" @click="añadirCarrito(juguete._id)" d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z"/>
              </svg>   
                </div>
                
                </div>
            </div>
        </div>
              

        <section v-else="">
            <h4 class="text-center">No se encontraron coincidencias en su busqueda.</h4>
        </section>
    </main>

    <footer class="d-flex justify-content-between mt-3 ">
        <div class="redes d-flex justify-content-evenly gap-4 ms-2 mt-3">
            <img src="../img/img/ig logo.png" alt="ig logo">
            <img src="../img/img/fb logo.png" alt="fb logo">
            <img src="../img/img/wp logo.png" alt="wp logo">
        </div>
        <article class="d-flex flex-column align-items-center justify-content-center mt-3">
            <h6>Micaela Gonzalez Pili, Lucas Correa, Franco Palacios, Eduardo Oriolani, Jhosselin Vilchez</h6>
            <h6 class="align-self-center">Cohort 47</h6>
        </article>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="./js/juguetes.js"> </script>
</body>

</html>